@import "../../theme/Variables.scss";

.rule {
  position: absolute;
  right: 20px;
  top: 30px;
  color: #fff;
}
.balance {
  width: 100vw;
  height: 30vh;
  background-color: $color-brand;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .p {
    color: #fff;
  }
}

.payCell {
  border-top: 2px solid #ccc;

  .flexCell {
    display: flex;
    width: 100vw;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    border-left: 2px solid #ccc;

    .cell {
      width: 30vw;
      margin-left: 2.5vw;
      margin-top: 20px;
      border-radius: 10px;
    }

    .input {
      width: 24vw;
      margin-left: 2.5vw;
      margin-top: 20px;
      border: 1px solid #6190e8;
      border-radius: 10px;
      padding: 24px 3vw;
    }
  }
}
