@import "../../theme/Variables.scss";

.page {
  background-color: #fff;
  :global(.at-input--disabled) {
    opacity: 1;
  }

  .title {
    background-color: $color-brand;
    text-align: center;
    color: #fff;
  }

  .rules {
    min-height: 30vh;
    font-size: 26px;
    padding: 0 30px;

    .rulesTitle {
      margin-top: 40px;
    }

    .rulesContent {
      margin-top: 50px;
      word-wrap: break-word;
    }
  }
}
