@import "../../theme/Variables.scss";

.pages {
  min-height: 100vh;
  background-color: #fff;
  overflow: hidden;
}
.swiperItem {
  width: 100%;
  height: 25vh;
}

.op {
  margin: 3vw 0 0;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;

  .view {
    width: 33.3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #ccc;
    flex-direction: column;
  }

  .view {
    font-size: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #ccc;
    flex-direction: column;
  }

  .view0 {
    display: none !important;
  }

  .view1 {
    width: 100vw;
  }

  .view2 {
    width: 50vw;
  }

  .view3 {
    width: 33.3vw;
  }

  .view4 {
    width: 25vw;
  }

  .primary {
    color: $color-brand;
  }
}

.barcode {
  display: flex;
  margin: 30px 0;
  width: 100vw;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .textStyle {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    .loading {
      position: relative;
      bottom: 3px;
      margin-right: 6px;
    }

    .active {
      animation: animal 1s infinite linear;
      transform-origin: center center;
    }
  }
}

.emptyCode {
  margin: 30px auto;
}

@keyframes animal {
  0% {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}
