@import "../../theme/Variables.scss";

.sign {
  .p {
    color: #fff;
  }
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3vh 3vw;
  margin: 20px;
  border-radius: 12px;
  height: 24vh;
  background-color: $color-brand;
  background-size: cover;
  background-repeat: no-repeat;
}

.userCell {
  .img {
    width: 160px;
    height: 160px;
    border-radius: 100%;
  }
  .p {
    color: #fff;
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
    margin-top: 40px;
  }
}

.op {
  margin: 3vw 0 0;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;

  .view {
    width: 33.3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #ccc;
    flex-direction: column;
  }

  .view {
    font-size: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #ccc;
    flex-direction: column;
  }

  .view0 {
    display: none !important;
  }

  .view1 {
    width: 100vw;
  }

  .view2 {
    width: 50vw;
  }

  .view3 {
    width: 33.3vw;
  }

  .primary {
    color: $color-brand;
  }
}

.barcode {
  display: flex;
  margin: 30px 0;
  width: 100vw;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
