@import "../../theme/Variables.scss";

.sign {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 30vh;
  background-color: $color-brand;
  margin-bottom: 30px;

  .p {
    background-color: #fff;
    text-align: center;
    line-height: 200px;
    color: $color-brand;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    &:active {
      opacity: 0.4;
    }
  }

  .disabled {
    opacity: 0.4;
  }
  .span {
    color: #fff;
    position: relative;
    top: 30px;
  }
}

.signHeader {
  width: 96vw;
  margin: 2vw;
  position: absolute;
  display: flex;
  top: 20px;
  justify-content: space-between;
  align-items: center;

  .span {
    color: #fff;
  }
}
