@import "../../theme/Variables.scss";
@import "~taro-ui/dist/style/components/search-bar.scss";
@import "~taro-ui/dist/style/components/button.scss";
@import "~taro-ui/dist/style/components/icon.scss";
@import "~taro-ui/dist/style/components/list.scss";

.at-search-bar__input {
  height: 76px !important;
  padding: 0 60px 0 60px;
}

.search {
  line-height: 60px;
}

.cell {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  background-color: #fff;
  border-bottom: 2px solid #ccc;

  .titleCell {
    width: 70vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .title {
    font-size: 32px;
  }

  .distance {
    font-size: 26px;
    color: #999;
  }

  .address {
    margin-top: 20px;
    font-size: 26px;
    color: #999;
    display: block;
    word-wrap: break-word;
  }

  .btn {
    width: 120px;
    height: 60px;
    line-height: 60px;
    font-size: 26px;
  }
}

.empty {
  background-color: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 8vh;
  font-size: 26px;
  color: #999;
  padding: 30px;

  .icon {
    margin-bottom: 30px;
  }
}

.near {
  background-color: #fff;

  .nTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    line-height: 80px;
    color: #999;
    background-color: $background-color;

    &::after {
      content: "";
      margin-left: 30px;
      width: 60px;
      height: 2px;
      background-color: #999;
    }
    &::before {
      content: "";
      margin-right: 30px;
      width: 60px;
      height: 2px;
      background-color: #999;
    }
  }
}
