// https://taro-ui.jd.com/#/docs/customizetheme
@import "./theme/Variables.scss";
@import "~taro-ui/dist/style/index.scss";

// 自定义 taro-ui 的组件
@import "./theme/AtButton.scss";
@import "./theme/AtCard.scss";
@import "./theme/AtDivider.scss";
@import "./theme/AtInput.scss";
@import "./theme/AtList.scss";
@import "./theme/AtImagePicker.scss";

page {
  background-color: $page-background-color;
}

// https://getbootstrap.com/docs/4.3/utilities/spacing/#notation
.mx-1 {
  margin-left: 24px;
  margin-right: 24px;
}

.mx-2 {
  margin-left: 32px;
  margin-right: 32px;
}

.my-1 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.my-2 {
  margin-top: 32px;
  margin-bottom: 32px;
}

.at-search-bar::after {
  border: 0;
}
.at-search-bar {
  padding: 0;
}
.at-search-bar__clear,
.at-search-bar__input-cnt,
.at-search-bar__placeholder-wrap,
.at-search-bar__input {
  height: 74px !important;
}
.at-search-bar__placeholder {
  margin-left: 15px;
}
.at-search-bar__placeholder-wrap .at-icon {
  font-size: 32px;
}
.at-search-bar__input-cnt {
  background: #ededf0;
  border-radius: 10px;
}
.at-search-bar__action {
  display: none;
}

.header--has-search-bar {
  display: flex;
  align-items: center;
  background: #fff;
  padding-right: 32px;
  padding-left: 32px;
  padding-top: 22px;
  padding-bottom: 22px;
  box-sizing: content-box;
}

.safe-area-inset-bottom {
  padding-bottom: env(safe-area-inset-bottom);
}

.search-bar {
  &__container {
    flex: 1 1;
  }
}

.button-group {
  at-button + at-button {
    margin-left: 20px;
  }
  at-button {
    flex: 1 1;
  }
}

.control--required {
  .item-content__info-title,
  .at-input__title {
    font-weight: bold;
  }
}

.at-card--noheader {
  .at-card__content {
    padding: 32px;
  }
  .at-card__content-info {
    font-size: 28px;
  }
  .at-textarea {
    background: $page-background-color;
  }
  .at-image-picker__flex-item {
    &:first-child {
      margin-left: 0;
    }
  }
  .at-image-picker__flex-box {
    padding-left: 0;
  }
}

.textarea__placeholder {
  color: red;
}

.at-tabs {
  &__item-underline {
    bottom: 10px;
    height: 4px;
    width: 3em;
    left: calc(50% - 1.5em);
  }
}

textarea,
.at-textarea__textarea {
  font-size: 28px;
  height: 306px;
}
