@import "../../theme/Variables.scss";

.pages {
  overflow: hidden;
  padding-bottom: 20px;
}

.cell {
  overflow: hidden;
  background-color: #fff;
  border-radius: 10px;
  width: 90vw;
  margin-left: 5vw;
  height: 10vh;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;

  .leftCell {
    height: 100%;
    width: 65vw;
    border-bottom: none;
    background: radial-gradient(
      circle at 50% 50%,
      $ticket-color 0,
      $ticket-color 50%,
      transparent 0
    );
    background-repeat: repeat-y;
    background-color: white;
    background-size: 20px 20px;
    background-position: calc(100% + 10px) 10px;

    .cellInfo {
      width: 100%;
      height: 7.5vh;
      // text-align: center;
      display: flex;
      align-items: center;

      .count {
        font-size: 28px;
      }

      .cellIcon {
        width: 6vh;
        height: 6vh;
        background-color: $ticket-color;
        margin: 0 12px;
      }
    }
    .cellDate {
      margin-left: 12px;
      font-size: 20px;
    }
  }

  .rightCell {
    height: 100%;
    width: 25vw;
    background-color: $ticket-color;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: right;

    :global(.at-progress) {
      width: 20vw;
      margin-bottom: 1.6vh;
    }

    .processNum {
      width: 20vw;
      color: #fff;
      text-align: right;
    }

    .btn {
      background-color: #fff;
      color: $ticket-color;
      width: 20vw;
      height: 4vh;
      font-size: 28px;
    }
  }
}
